[package]
name = "vorago-reb1"
description = "BSP crate for the Vorago REB1 development Board"
version = "0.1.0"
edition = "2018"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

cortex-m-rt = "0.7.0"

[dependencies.va108xx]
path = "../va108xx-rs"
version = "0.1.0"
features = ["rt"]
